h3{
    color: cornsilk;
}
h4{
    color: gold
}
big{
    color: chartreuse;
}
hr{
    color:cyan;
}
footer{
    color: greenyellow;
}
h2{
    color: #e2c044;
}
button{
    size-adjust: "30px";
    color: #e8dcb9;
    background-color: #b89e97;
}
